{% extends "base.html" %}

{% block title %}billing{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <h1>账单</h1>
</div>
<div class="container">
    <div class="col-md-2">
        <select id="linkedAccountIdSelect" title="select" class="select">
        {% for options in linked_account_id_options %}
            <option value={{ options }}>{{ options }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-1">
        <select id="billDateSelect" title="select" class="select">
        {% for options in bill_date_options %}
            <option value={{ options }}>{{ options }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-1">
        <select id="isRecurrentSelect" title="select" class="select">
            <option value=0>False</option>
            <option value=1>True</option>
        </select>
    </div>
</div>
<div class="container">
    <div id="billChart"></div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/echarts.js") }}"></script>
    <script src="{{ url_for("static", filename="js/billing.js") }}"></script>
{% endblock %}